<div class="countdown">
	<ng-container *ngFor="let timeLoop of timeObject">
		<div class="time-section" id="{{ timeLoop.name }}" #{{timeLoop.name}}>
			<div class="time-group">
				<div class="time-segment">
					<div class="segment-display">
						<div class="segment-display__top rounded-top-2"></div>
						<div class="segment-display__bottom rounded-bottom-2"></div>
						<div class="segment-overlay" >
							<div class="segment-overlay__top rounded-top-2"></div>
							<div class="segment-overlay__bottom rounded-bottom-2"></div>
						</div>
					</div>
				</div>
				<div class="time-segment">
					<div class="segment-display">
						<div class="segment-display__top rounded-top-2"></div>
						<div class="segment-display__bottom rounded-bottom-2"></div>
						<div class="segment-overlay" >
							<div class="segment-overlay__top rounded-top-2"></div>
							<div class="segment-overlay__bottom rounded-bottom-2"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
</div>
