<div class="d-flex flex-column col-12">
	<div class="container_config">
		<ion-button (click)="openModal()" fill="clear">
			<ion-icon
				slot="icon-only"
				ios="logo-apple"
				md="settings-sharp"
			></ion-icon>
		</ion-button>
	</div>

	<app-countdown #countdown [timeObject]="timeObject"></app-countdown>
	<div class="col-12 d-flex justify-content-center">
		<div class="col-2 d-flex justify-content-center">
			<ion-button (click)="startCountdown()">
				<ion-icon slot="icon-only" ios="play" md="play"></ion-icon>
			</ion-button>
		</div>
	</div>
</div>
